{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <h3>Edit {{ note.title }}</h3>
        <form action={% url 'notes:edit_note' note.id %} method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-secondary">Save</button>
            {% endbuttons %}
        </form>
        <button data-toggle="modal" data-target="#deleteModal" class='btn btn-warning'>Del</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete note?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Perhaps the note has a lot of important information. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href='{% url 'notes:delete_note' note.id %}'><button type="submit" class='btn btn-warning'>Delete</button>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}